version: '3.8'

services:
#===============================================================
# Zookeeper (mandatory for Kafka)
#===============================================================
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - notification-network
    ports:
      - "2181:2181"
#===============================================================
# Kafka
#===============================================================
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:9093

      # kafka 1 broker configuration
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1 # replication factor for the topic
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 # replication factor for the offsets topic
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1 # minimum ISR for transaction state log
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1 # replication factor for transaction state log
      KAFKA_NUM_PARTITIONS: 1 # number of partitions for the topic
    networks:
      - notification-network
    ports:
      - "9092:9092"
      - "9093:9093"
    depends_on:
      - zookeeper

#===============================================================
# MongoDB
#===============================================================
  mongodb:
    image: mongo:latest
    container_name: mongodb_notification_system
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - notification-network

#===============================================================
# Notification Producer API
#===============================================================
  notification-producer-api:
    build:
      context: ./notification-system/services/notification-producer-api
      dockerfile: Dockerfile
    container_name: notification-producer-api-service
    ports:
        - "8001:8001"
    networks:
      - notification-network
    depends_on:
      - kafka
      - mongodb
    environment:
      KAFKA_BOOTSTRAP_SERVERS: '["kafka:9092"]'
      MONGODB_URL: mongodb://root:password@mongodb:27017
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

#===============================================================
# Notification Service
#===============================================================
  notification-service:
    build:
      context: ./notification-system/services/notification-service
      dockerfile: Dockerfile
    container_name: notification-service-service
    ports:
      - "8002:8002"
    networks:
      - notification-network
    depends_on:
      - kafka
      - mongodb
    environment:
      KAFKA_BOOTSTRAP_SERVERS: '["kafka:9092"]'
      KAFKA_GROUP_ID: notification-service
      KAFKA_TOPIC: notifications
      MONGODB_URI: mongodb://root:password@mongodb:27017
      MONGODB_DATABASE: notification_db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002/health"]
      interval: 30s

#===============================================================
volumes:
  mongodb_data:


networks:
  notification-network:
    driver: bridge